:root {
  --background: #ffffff;
  --text: #243746;
}

.dark {
  --background: #191919;
  --text: #ebf4f1;
}

.dark .url {
  text-decoration: underline;
  color: #7ad9f0;
}

.light .url {
  text-decoration: underline;
  color: #219ebc;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s;
  max-height: 800px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  max-height: 0px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

* {
  font-family: 'Noto Sans Mono', 'Source Sans Pro', monospace, sans-serif;
}
/* 
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
} */
